# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Build outputs
build/
dist/
*.jar
*.class

# NetBeans
nbproject/private/
nb-configuration.xml

# IDE files
*.iml
.idea/
.vscode/

# Logs
*.log

# System files (Windows)
Thumbs.db
desktop.ini

# Misc
*.zip
